* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url("../image/thimo-pedersen-TWCnHKKhqSo-unsplash.jpg");
}

.content {
  height: 100vh;
  width: 100vw;
  padding: 1rem;
}

@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}

.content h1 {
  margin: 0;
}
